* {
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-weight: 100;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FFFF77;
    color: #8E1606;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border: 1px solid #CA1E08;
}

.navbar-left {
    margin-left: 8px;
}

.navbar-right {
    margin-right: 8px;
}

header {
    color: #FFFF77;
    text-shadow: 2px 2px 4px #333333;
    position: relative;
    display: flex;
    justify-content: flex-end; /* text sits at bottom */
    align-items: center;
    flex-direction: column;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes the video behave like background-size: cover */
    z-index: -1; /* keeps it behind everything else */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* 50% dark overlay */
  z-index: -1;
}

header > h1 {
    font-size: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;

}

header > p {
    font-size: 25px;
}

/* CustomerInfo */

main {
    margin: 100px 0;
}

main > h1 {
    font-size: 70px;
}

.customer-info {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.customer-info > li {
    margin-top: 30px;
}

/* EntryScroll */

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}