* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FFFF77;
  color: #8E1606;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}